<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
              http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
       <context:component-scan base-package="com.bee.test.component" />
       <context:annotation-config/>

       <bean id="memberServiceRemote" class="com.bee.remote.spring.ProxyBeanFactory"
             init-method="init">
              <property name="serviceName"
                        value="com.bee.test.component.MemberService_1.0.0" />
              <property name="interfaceName"
                        value="com.bee.test.component.MemberService" />
              <property name="callMethod" value="sync" />
              <property name="timeOut" value="1000000" />
       </bean>

</beans>